/*@import ('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,800&display=swap');*/
@font-face{
  font-family: dmmono;
  src: url(DMMono-Regular.ttf);
}
@font-face{
  font-family: balsamiq;
  src: url(BalsamiqSans-Regular.ttf);
}
body{
  width: 90%;
  margin: auto;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  font-family: dmmono;
}
.citations{
  max-width: 50%;
  margin: auto;
  font-size: 160%;
  border-left: 3px;
  border-left-style: solid;
  border-color: #842e1b;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  font-style: italic;

}
.citations span{
  background-color: #BFC4C9;


}
.auteur{
  background-color: yellow;
}
.mal{
  color: red;
  text-transform: uppercase;
}
.bien{
  color: green;
  text-transform: uppercase;
}

.pair{
  background-color: gray;
}
.impair{
  background-color: white;
}

.first span{
  background-image: url(bien.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding-right: 30px;


}
.second span{
  background-image: url(mal.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding-right: 30px;


}
.third span{
  background-image: url(chat.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding-right: 30px;


}
.paragraph1{
  font-weight: bold;
}
.img1{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img2{
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.img3{
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
h1{
  font-family: Balsamiq;
}




